###################################
# TEMP files for Linux and MacOSx #
###################################
.DS_Store
*~

#############
# IDE files #
#############
.idea/
.project/
.settings/

##############################
# Implementation specific #
##############################

# Git ignore rules are not taking into
# consideration directories that its parent
# has been ignored. This leads to the cascade
# effect used on allowed directories below.

# Ignore Drupal default directories and files
drupal/*.*
!drupal/*.make
drupal/includes/*
drupal/misc/*
drupal/modules/*
drupal/profiles/*
drupal/scripts/*
drupal/themes/*
drupal/sites/*

# Allow custom modules and features
!drupal/sites/all
drupal/sites/all/libraries
drupal/sites/all/themes
drupal/sites/all/modules/*
!drupal/sites/all/modules/custom
!drupal/sites/all/modules/features

# Allow default settings
!drupal/sites/default
drupal/sites/default/*.settings.php