###################################
# TEMP files for Linux and MacOSx #
###################################
.DS_Store
*~

#############
# IDE files #
#############
.idea/
.project/
.settings/

##############################
# Implementation specific #
##############################

# Git ignore rules are not taking into
# consideration directories that its parent
# has been ignored. This leads to the cascade
# effect used on allowed directories below.

# Ignore Drupal default directories and files
#*.*
!*.make
includes/*
misc/*
modules/*
profiles/*
scripts/*
themes/*
sites/*

# Allow custom modules and features
!sites/all
sites/all/libraries
sites/all/themes
sites/all/modules/*
!sites/all/modules/custom
!sites/all/modules/features

# Allow default settings
!sites/default
sites/default/*.settings.php