/*
!*/
!*-build.yml
!.htaccess
includes/*
misc/*
modules/*
profiles/*
scripts/*
themes/*
sites/*

# Allow custom modules and features
!sites/all
sites/all/libraries
sites/all/themes
sites/all/modules/*
!sites/all/modules/custom
!sites/all/modules/features

# Allow default settings
!sites/default
sites/default/*.settings.php
sites/default/files